* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
    
  background-image: url("./assets/lightMode.svg");
  animation: fadeIn ease 2s;
  transition: all 100ms ease;
 
  
}

.body-darkMode{
    background-image: url("./assets/darkMode.svg")
}

.darkMode{
    color: white;
    border-color: white;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 85%;
  

}

#main-div, #denied-response, #accepted-response {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 500ms ease;
  max-width: 1500px;
  justify-self: flex-end;
}

#accepted-response{
  background-color: #33a474;
  padding: 32px 32px;
  border-radius: 8px;
  opacity: 0;
  display: none;

  
}

#accepted-response h1{
  color: white;
  font-family: "Poppins";
}

#main-div .h2 {
  margin: 24px;
  
}

#main-div{
  position: relative;
  margin-top: 24px;
}

#denied-response h1{
    font-size: 32px;
    color: #df4040;
    font-family: "Poppins";
    
}

.circleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 70px;
  height: 70px;
  margin: 12px;
  border-radius: 50%;
  border: 3px solid #33a474;
  color: #2c7959;
  transition: 300ms all ease;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  background-color: #33a474;
  cursor: pointer;
}

i{
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px;
}

.response-2{
   border-bottom: 2px solid white;
}

.arrow-wrapper{
  max-width: 60px;
  width: 100%;
  height: 60px;
  background-color: #df4040;

  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 24px;
  display: none;
  transition: all 500ms ease;
  cursor: pointer;
  
  
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(240deg);
  }
}
.fa-arrow-rotate-right{
  position: relative;
  
}

.arrow-wrapper:hover{
  animation: rotate 1000ms ease;
  
}

.activity-response{
 
  font-size: 22px;
  margin-top: 12px;
  color: white;
  font-family: "Poppins";
}

.type-response{
  font-style: italic;
  color:aliceblue;
  font-size: 32px;
  margin-top: 42px;
 
}

.comment-section{
  max-width: 600px;
  width: 100%;
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
 
 
}

.comment-form{
  max-width: 600px;
  width: 100%;
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

input{
  border: none;
  
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 12px;

}

.comments-wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

}

.comment-section div{
  background-color: #df4040;
  color: white;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
  padding: 24px;
}
button{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: #33a474;
  color: white;
  border: none;
}

.fa-paper-plane{
  font-size: 24px;
  position: relative;
}

input:focus {
  outline-width: 0;
}


